
#header{ 
margin-bottom:5px;
   margin-left:90px;
    width:1058px;
    height:80PX;
}

#header a{
color:#000000 ;
float:right;
margin: 2px 1em 5 right;
font-weight: bold;
}

#header p{
font-size:16px;
color:#000000 ;
float:right;
font-weight: bold;
}

#header p a:hover{
color:#000000 ;
}

#header a:hover{
color:#000000 ;
}

#header ul {
    float:centre;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#header ul li a {
    float:left;
    width: 10em;
  
    text-decoration: none;
    font-size: 16px;
    color:#000000 ;
    background-color:#F9A646 ;
    padding: 0.5em 0.5em;
    
}

#header ul li a:hover {
    background-color:#FFFFFF;
    color:#996699 ;
}

#header ul li {
    display: inline;
}

#logn{
margin:0 auto; 
    width:1056px;
    height:30PX;
}

#logn a{
color:#000000;
float:right;
}

#logn a:hover{
color:#424242;
}
/*middle division*/


#section {
margin-top: 30px;
    width:740px;
    float:left;
margin-left:2%;
 align="center";
    	 	 
}

#nav{
    align=center;
    margin-top: 60px;
    margin-bottom:1px;
    margin-left:91px;
    line-height:17px;
    background-color:#F9A646;
    color:"#FFFFFF";
    float:left;
    padding:10px; 
    width:300px;
    height:450px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#nav h3{
	
	color:#393939;
	font-size:25px;

}

#nav a{
	color:#393939;
	font-size:20px;

}




#nav li{
	list-style: none;
	position:relative;
	position:relative;
	color:"#ffffff";
	
}


#nav ul li a {
        width: 150px;
        height: 35px;
        display: block;
        text-decoration: none;
        text-align:left;
        color:#FFFFF;
	font-size:18px;
 
}

  #nav li:hover {
        
	color:#FFFFFF;
    }
 
 
 #nav ul {
        position:relative;
        top: 27px;
}


#footer{
	
	
background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:1px;		
}
}